header {
  border: 1px solid #ECECEC;
  padding-bottom: 25px;
  padding-top: 24px;
}
.site-nav {
  a{
    color:$title-text-color;
    font-weight: 500; }
  li {
    display: block;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;}}
}
.site-address a{
  color:$primery-text-color;
  font-style: normal;
}
.site-nav, .site-address {
  a {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
     color:$accent-color;}}
    }
.site-nav .link.current {
  color: $accent-color;
}
.current {
  position: relative;
 &::after {
  content: "";
  display: block;
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  position: absolute;}
}
/* Расположение шапки */
.site-nav, nav, .site-address, .address-section {
  display: inline-flex;
  align-items: center;
  justify-items: center;   
}
nav {
  justify-content: flex-start;
  align-items: center;   
}
.address-section{
  justify-content: flex-end;
  margin-left: auto;
} 
.header-container {
  align-items: center;
  display: flex;  
}  

.site-address-item:not(:last-child) {
  margin-right: 50px;
}
.site-address-svg {
  height: 16px;
  width: 18px;
  fill: currentColor;
  vertical-align: middle;
  margin-right: 10px;
}