/* Позиционирование Наша Команда */
.section-team-list {
  display: flex;
}
.team {
  background-color:#F5F4FA;
}
.section-team-list>li {
  width: 270px;
  background-color: var(--other-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-team-list>li:not(:last-child) {
  margin-right: 30px;
}
.team-detail {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-item-svg {
  height: 20px;
  width: 20px; 
  vertical-align: middle;
}
.social-links-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--other-color);
  width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  fill: var(--other-color);
  background-color: var(--accent-color);
}