/* стиль логотипа*/

.logo-word {
  color: var(--accent-color);
}
.logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--title-text-color);
}
